<div class="nav-side-menu">
    <!-- <div class="brand">Brand Logo</div> -->
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <!-- WOMEN -->
            <li data-toggle="collapse" data-target="#women" class="collapsed">
                <a href="#"><i class="fa fa-female fa-lg"></i>WOMEN<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="women">
                <li data-toggle="collapse" data-target="#women-tops" class="collapsed">
                    <a href="#"><i class="fa fa-tshirt fa-lg"></i>TOPS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="women-tops">
                    <li><a href="#">Knit Tops</a></li>
                    <li><a href="#">Short Sleeves Graphic Tee</a></li>
                    <li><a href="#">Long Sleeves Graphic Tee</a></li>
                    <li><a href="#">Polo Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Sweatshirts</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#women-bottoms" class="collapsed">
                    <a href="#"><i class="fa fa-gift fa-lg"></i>BOTTOMS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="women-bottoms">
                    <li><a href="#">Skirts</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sports Pants</a></li>
                    <li><a href="#">Leggings</a></li>
                </ul>
            </ul>
            <!-- MEN -->
            <li data-toggle="collapse" data-target="#men" class="collapsed active">
                <a href="#"><i class="fa fa-male fa-lg"></i>MEN<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="men">
                <li data-toggle="collapse" data-target="#men-tops" class="collapsed">
                    <a href="#"><i class="fa fa-tshirt fa-lg"></i>TOPS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="men-tops">
                    <li><a href="#">Short Sleeves Tee</a></li>
                    <li><a href="#">Long Sleeves Tee</a></li>
                    <li><a href="#">Polo Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Sweatshirts</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#men-bottoms" class="collapsed">
                    <a href="#"><i class="fa fa-gift fa-lg"></i>BOTTOMS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="men-bottoms">
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sports Pants</a></li>
                </ul>
            </ul>
            <!-- BOYS -->
            <li data-toggle="collapse" data-target="#boys" class="collapsed active">
                <a href="#"><i class="fa fa-child fa-lg"></i>BOYS<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="boys">
                <li data-toggle="collapse" data-target="#boys-tops" class="collapsed">
                    <a href="#"><i class="fa fa-tshirt fa-lg"></i>TOPS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="boys-tops">
                    <li><a href="#">Short Sleeves Tee</a></li>
                    <li><a href="#">Long Sleeves Tee</a></li>
                    <li><a href="#">Polo Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Sweatshirts</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#boys-bottoms" class="collapsed">
                    <a href="#"><i class="fa fa-gift fa-lg"></i>BOTTOMS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="boys-bottoms">
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sports Pants</a></li>
                </ul>
            </ul>
            <!-- GRILS -->
            <li data-toggle="collapse" data-target="#girls" class="collapsed active">
                <a href="#"><i class="fa fa-child fa-lg"></i>GIRLS<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="girls">
                <li data-toggle="collapse" data-target="#girls-tops" class="collapsed">
                    <a href="#"><i class="fa fa-tshirt fa-lg"></i>TOPS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="girls-tops">
                    <li><a href="#">Knit Tops</a></li>
                    <li><a href="#">Short Sleeves Tee</a></li>
                    <li><a href="#">Long Sleeves Tee</a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Sweatshirts</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#girls-bottoms" class="collapsed">
                    <a href="#"><i class="fa fa-gift fa-lg"></i>BOTTOMS<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="girls-bottoms">
                    <li><a href="#">Skirts</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Pants & Leggings</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Sports Pants</a></li>
                </ul>
            </ul>
        </ul>
    </div>
</div>