<div class="items-list">
    <div class="row">
        <div *ngFor="let product of products" class="card col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="item">
                <img class="card-img-top item-pic" src="{{product.image[0]}}" height="280" width="40">
                <div class="card-body">
                    <div class="bottom-line"></div>
                    <h5 class="card-title">{{product.title}}</h5>
                    <div class="bottom-line"></div>
                    <p class="card-text">{{product.sub_title}}</p>
                    <div class="bottom-line"></div>
                    <button *ngIf="product.type==='auction'" href="#" class="btn btn-primary btn-item">Go Bid it</button>
                    <button *ngIf="product.type==='buy'" href="#" class="btn btn-primary btn-item">Go Get it</button>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img class="card-img-top" src="{{item.pic}}">
                    <img src="{{item.pic}}" class="item-pic" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label name="item name">{{item.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label name="item price" class="item-price">{{item.price}} HKD</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>{{item.desc}}</p>
                </div>
            </div> -->
        </div>
    </div>
</div>