input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(94, 7, 26);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    position: center;
    background-color: #d0ccdb;
    padding: 20px;
}

.back {
    margin-left: 1000px;
}