<p>
    pproduct-confirm-order works!
</p>

<div class="container3">
    <div class col>

        <label>Select Address</label></div>

    <div class="container4">


        <label>Address 1</label></div>

    <div class="container5">
        <div class row></div>

        <label>Address 2</label></div>
</div>
<div class="container6">
    <div class col>

        <label>Confirm order infomation</label></div>

    <div class="items-list">
        <div class="col">
            <div *ngFor="let item of demo_items" class="col">
                <div class="row">

                    <img src="{{item.pic}}" class="item-pic" />

                    <div class="container7">

                        <div class col>
                            <label>Item name</label></div>

                        <div class="container8">
                            <div class col>

                                <label></label></div>
                        </div>
                    </div>

                    <div class="container7">

                        <div class col>
                            <label>Seller name</label></div>

                        <div class="container8">
                            <div class col>

                                <label></label></div>
                        </div>
                    </div>


                    <div class="container7">

                        <div class col>
                            <label>Quantity</label></div>

                        <div class="container8">
                            <div class col>

                                <label></label></div>
                        </div>
                    </div>


                    <div class="container7">

                        <div class col>
                            <label>Price</label></div>

                        <div class="container8">
                            <div class col>

                                <label></label></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <form action="/action_page.php">

                    <div class="row">
                        <div class="col-25">
                            <label for="lname">TOTAL</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="lname" name="TOTAL" placeholder="">
                        </div>
                    </div>


                    <div class="row">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>