.container {
    width: 100%;
}

.container0 {
    margin: 5px;
    border: solid 2px black;
}

.container1 {
    width: 100%;
    height: 120px;
}

.container4 {
    width: 100%;
}

.btn-item {
    bottom: 10px;
}