<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class=".but">
                <button type="button" data-toggle="New collapse" data-target="#new" class="btn btn-primary" [routerLink]="['/user/mailbox/sent']" routerLink="active">
                            <i class="fas fa-at"></i> <a>Sent</a>
                        </button>

                <button type="button" data-toggle="inbox collapse" data-target="#inbox" class="btn btn-primary" [routerLink]="['/inbox']" routerLink="active">
                            <i class="far fa-envelope-open"></i><a>Inbox</a>
                        </button>

                <button type="button" data-toggle="outbox collapse" data-target="#outbox" class="btn btn-primary" [routerLink]="['/user/mailbox/outbox']" routerLink="active">
                            <i class="fas fa-envelope"></i><a>Outbox</a>
                        </button>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="border-style:ridge">
            <label style="font-size: 30px"> INBOX </label><br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">From</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="onClicked(mail)" *ngFor="let mail of inbox let i = index" [attr.data-index]="i" class="cursor-pointer">
                        <td>{{i + 1}}</td>
                        <td>{{mail.sender}}</td>
                        <td>{{mail.subject}}</td>
                        <td>{{mail.content}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{dialogTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{dialogBody}}
            </div>
            <div class="modal-footer">
                <button *ngIf="isError" (click)="onCloseClikced()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!isError" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>