<nav class="navbar navbar-light bg-light">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="./../../assets/demo_icon.png" height="50" alt="AuctionOrBuy">
            </a>
        </div>
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <img src="./../../assets/demo-banner.jpg" width="700" height="60">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a [routerLink]="['/user/shipping_cart']"><img src="./../../assets/demo_shipping_cart.png" alt="Shopping Cart" width="50" height="50"></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a [routerLink]="['/product/create']"><img src="./../../assets/demo_auction.png" alt="Auction" width="50" height="50"></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a [routerLink]="['/user/favorite']"><img src="./../../assets/demo_favorite.png" alt="Favorite" width="50" height="50"></a>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a [routerLink]="['/user/mailbox']"><img src="./../../assets/demo_message.png" alt="Message" width="50" height="50"></a>
        </div>
    </div>
    <a href="#" [routerLink]="['/login']"><img src="./../../assets/demo_user.png" alt="User" width="50" height="50"></a>
</nav>