<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div style="margin: 3px">
            <div class="container">
                <app-user-mailbox></app-user-mailbox>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div style="margin: 3px">
            <div class="container1">
                <div class="row">
                    <div style="font-size: 30px; margin-left: 15px;">{{mail.subject}}</div>
                </div>
                <div class="bottom-line"></div>
                <div class="sender">Sender: {{mail.sender}}</div>
                <div class="receiver">Receiver: {{mail.receover}}</div>
                <div class="date">Date: {{mail.date}}</div>
                <div class="bottom-line"></div>
                <div class="content">{{mail.content}}</div>
                <div class="bottom-line"></div>
                <div *ngFor="let roll of mail.enroll">
                    <h4>{{roll}}</h4>
                </div>
                <div class="bottom-line"></div>
                <div class="mail-option">
                    <div class="row bottom-button-group">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button style="margin-right: 10px" class="btn btn-default">Reply</button>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button style="margin-right: 10px" class="btn btn-default">Delete</button>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button style="margin-right: 10px" class="btn btn-default">Make Read</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{dialogTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{dialogBody}}
            </div>
            <div class="modal-footer">
                <button *ngIf="isError" (click)="onCloseClikced()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!isError" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>