<p>
    user-mailbox works!
</p>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button mat-button class="New">New</button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin-top: 10px;">
            <button mat-button class="InOut">Inbox</button>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin-top: 10px;">
            <button mat-button class="InOut">Outbox</button>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin-top: 10px;">
            <button mat-button class="rubbish">Trash</button>
        </div>
    </div>

</div>