<div class="container">

<h5>Username</h5>

    <div class="card">

        <div class="w-100 p-4"></div>
 
  <div class="row justify-content-md-center">

    <div class="col-2  ">
      
        <img class = "profile" src="{{item.photo}}" alt="itemphoto">
        <br>
        <label name="userid">item name</label>

    </div>
    
    <div class="col-6 ">
      
        <div class="row justify-content-md-center">
            <div class="col-12 ">
              
                <div class="row justify-content-md-center">
                    <div class="col">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">+1</label>
                          </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">+0</label>
                          </div>
                    </div>
                    <div class="col">
                      
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">-1</label>
                      </div>
                    </div>
                  </div>

            </div>
          </div>

          <div class="row justify-content-md-center">
              <div class="col-12 ">
                
                  <div class="form-group">
                      <label for="exampleFormControlTextarea1">Comments</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="80"></textarea>
                    </div>

              </div>
            </div>
  
    </div>
  </div>
 
</div>

<div class="w-100 p-4"></div>

  <div class="row">
   
      <div class="col-auto  ml-auto">
          <button type="button" class="btn btn-outline-secondary btn-lg">Submit</button>
      </div>
    </div>
  
  </div>
