/* You can add global styles to this file, and also import other style files */

.width-full {
    width: 100%;
}

.margin-20 {
    margin: 20px;
}

.margin-50 {
    margin: 50px;
}

.margin-40-0-0-30 {
    margin: 40px 0 0 30px;
}

.margin-40-40-0-0 {
    margin: 40px 40px 0 0;
}

.margin-0-0-20-0 {
    margin: 0 0 20px 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.bottom-line {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 20px;
}

.float-right {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

.bottom-button-group {
    position: absolute;
    bottom: 0px;
    margin: 10px;
}

.product_button {
    float: right;
    margin: 0px 0px 25px 150px;
}